# Flutter / Dart
.dart_tool/
build/
.pub-cache/
.pub/
.packages

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
*.key
*.log

# Serverpod / Generated
.serverpod/

# lib/src/generated/
# lib/src/protocol/